.fa-2x {
font-size: 1.6em;
}



/* TIMELINE */


.tracking-detail {
padding:3rem 0
}
#tracking {
margin-bottom:1rem
}
[class*=tracking-status-] p {
margin:0;
font-size:1.1rem;
color:#fff;
text-transform:uppercase;
text-align:center
}
[class*=tracking-status-] {
padding:1.6rem 0
}
.tracking-status-intransit {
background-color:#65aee0
}
.tracking-status-outfordelivery {
background-color:#f5a551
}
.tracking-status-deliveryoffice {
background-color:#f7dc6f
}
.tracking-status-delivered {
background-color:#4cbb87
}
.tracking-status-attemptfail {
background-color:#b789c7
}
.tracking-status-error,.tracking-status-exception {
background-color:#d26759
}
.tracking-status-expired {
background-color:#616e7d
}
.tracking-status-pending {
background-color:#ccc
}
.tracking-status-inforeceived {
background-color:#214977
}
.tracking-list {
/* border:1px solid #e5e5e5 */
}
.tracking-item {
border-left:1px solid #e5e5e5;
position:relative;
padding:2rem 1.5rem .5rem 2.5rem;
font-size:.9rem;
margin-left:3rem;
min-height:5rem
}
.tracking-item:last-child {
padding-bottom:4rem
}
.tracking-item .tracking-date {
margin-bottom:.5rem
}
.tracking-item .tracking-date span {
color:#888;
font-size:85%;
padding-left:.4rem
}
.tracking-item .tracking-content {
padding:.5rem .8rem;
background-color:#f4f4f4;
border-radius:.5rem
}
.tracking-item .tracking-content span {
display:block;
color:#888;
font-size:85%
}
.tracking-item .tracking-icon {
line-height:2.6rem;
position:absolute;
left:-1.3rem;
width:2.6rem;
height:2.6rem;
text-align:center;
border-radius:50%;
font-size:1.1rem;
background-color:#fff;
color:#fff
}
.tracking-item .tracking-icon.status-sponsored {
background-color:#f68
}
.tracking-item .tracking-icon.status-delivered {
background-color:#4cbb87
}
.tracking-item .tracking-icon.status-outfordelivery {
background-color:#f5a551
}
.tracking-item .tracking-icon.status-deliveryoffice {
background-color:#f7dc6f
}
.tracking-item .tracking-icon.status-attemptfail {
background-color:#b789c7
}
.tracking-item .tracking-icon.status-exception {
background-color:#d26759
}
.tracking-item .tracking-icon.status-inforeceived {
background-color:#214977
}
.tracking-item .tracking-icon.status-intransit {
color:#e5e5e5;
border:1px solid #e5e5e5;
font-size:.6rem
}
@media(min-width:992px) {
.tracking-item {
  margin-left:10rem
}
.tracking-item .tracking-date {
  position:absolute;
  left:-10rem;
  width:7.5rem;
  text-align:right
}
.tracking-item .tracking-date span {
  display:block
}
.tracking-item .tracking-content {
  padding:0;
  background-color:transparent
}
}


.page-hover {
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
background: #f1f2f3f5;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
}


@keyframes ldio-yrol3k037oq {
0% {
  top: 97.28999999999999px;
  left: 97.28999999999999px;
  width: 0;
  height: 0;
  opacity: 1;
}
100% {
  top: 17.595px;
  left: 17.595px;
  width: 159.39px;
  height: 159.39px;
  opacity: 0;
}
}.ldio-yrol3k037oq div {
position: absolute;
border-width: 6.209999999999999px;
border-style: solid;
opacity: 1;
border-radius: 50%;
animation: ldio-yrol3k037oq 1.5873015873015872s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-yrol3k037oq div:nth-child(1) {
border-color: #85a2b6;
animation-delay: 0s;
}
.ldio-yrol3k037oq div:nth-child(2) {
border-color: #bbcedd;
animation-delay: -0.7936507936507936s;
}
.loadingio-spinner-ripple-48a94hoxow {
width: 207px;
height: 207px;
display: inline-block;
overflow: hidden;
background: none;
}
.ldio-yrol3k037oq {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-yrol3k037oq div { box-sizing: content-box; }



label.d-flex.flex-row {
height: auto;
width: 194px;
line-height: 39px;
font-weight: bold;
}



table#tableWorks tbody tr td:nth-child(3),
table#tableWorks tbody tr td:nth-child(4),
table#tableWorks tbody tr td:nth-child(5) {
text-align: center;
}

.modal-lg, .modal-xl {
  max-width: 95%!important;
}

button.swal2-close {
outline: none!important;
}


.input-note-intercom{
border-radius: 3px!important;
}


.swal2-container.swal2-center.swal2-backdrop-show {
overflow-y: auto!important;
height: 100%;
}

.dt-buttons.btn-group.flex-wrap {
  margin-left: 18px;
}


.cursor-pointer{
cursor: pointer;
text-decoration: underline;
font-weight: bold;
}

.lo-footer{
display: none;
}

.cursor-pointer:hover{
color: black;
text-decoration: underline;
}

.information-about-update{
display: none;
}

span.pixcode-copy {
display: block;
overflow-wrap: break-word;
}

div#eventModalContent img {
width: 100%;
}

#workAvaliationModal .modal-lg, #workAvaliationModal .modal-xl {
max-width: 90%!important;
}

@media (max-width: 1100px)
{

  .card-header.d-flex.flex-row.justify-content-between {
    flex-flow: wrap;
  }

  .tracking-item {
    padding-top: 0px;
    margin-left: 19px;
    padding-right: 0px;
    padding-left: 24px;
  }

  .multiline-mobile {
    flex-flow: wrap;
  }

  .multiline-mobile .btn:nth-child(0){
    margin-left: 20px;
  }

  /* button.btn.btn-dark.first-btn {
   
  } */

  .multiline-mobile button.btn{
    margin-left: 0px!important;
    margin-bottom: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }

  ul#myTab {
    padding-bottom: 12px;
  }

}


button.close {
  position: absolute;
  right: 20px;
  top: 12px;
}

div#acceptLetterModal {
  z-index: 99999;
}

span.badge.badge-primary.badge-pill {
  max-width: 158px;
  padding: 6px;
}

.date-on-history {
  text-align: right;
  border-radius: 6px;
  margin-bottom: 3px;
}


.lo-footer-congressman,
.lo-footer-avaliator,
.lo-footer-coordinator{
  display: none;
}