html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.formError, .formSuccess, .formInfo{
  display: none;
}

div.tab-content {
  background: #fff;
  padding: 3px 16px;
  border: 1px solid #dee2e6;
  border-top: 0px;
}

.form-row > div > label {
  margin-bottom: 0px;
  font-weight: 500;
}

.form-row > div >input, .form-row > div > select {
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid rgba(0,0,0,.1);
}